<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../index.css">
</head>
<body>
<header>
    <div class="search-box">
        <button class="btn-search"><img src="../IMG/search.png" alt=""></button>
        <input type="text" class="input-search" placeholder="Search...">
    </div>
    <div class="right-header">
        <div class="shopping-cart">
            <button>
                Cart
                <img src="../IMG/shopping_cart.png" alt="">
                <span>0</span>
            </button>
        </div>
        <div class="profil">
            <button>
                <img src="../IMG/account.png" alt="">
                <span>Account</span>
            </button>
        </div>
    </div>
</header>
</body>
</html>