<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TrashTalk</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
<div class="menu">
    <div class="menu-logo">
        <img src="../static/images/Logo.png" alt="Logo">
        <h2>TrashTalk</h2>
    </div>
    <div class="menu-links">
        <button class="menu-links-button"> <img src="../static/images/home.png" alt=""> Explore New</button>
        <button class="menu-links-button"> <img src="../static/images/list.png" alt=""> Category</button>
    </div>
    <div class="quick-action">
        <HR ALIGN=CENTER WIDTH="150">
        <h5>Quick Action</h5>
        <button class="menu-links-button"> <img src="../static/images/add.png" alt=""> Add Product</button>
    </div>
    <div class="last-order">
    <HR ALIGN=CENTER WIDTH="150">
        <h5>Historic</h5>
    </div>
    <div class="menu-connexion">
        <button class="menu-connexion-button">Log Out <img src="../static/images/logout.png" alt=""></button>
    </div>
</div>
</body>
</html>