<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
<div class="product-detail">
    <div class="carousel-container">
        <ul class="carousel my-carousel carousel--thumb">
            <input class="carousel__activator" type="radio" id="K" name="thumb" checked="checked"/>
            <input class="carousel__activator" type="radio" id="L" name="thumb"/>
            <input class="carousel__activator" type="radio" id="M" name="thumb"/>
            <li class="carousel__slide"></li>
            <li class="carousel__slide"></li>
            <li class="carousel__slide"></li>
            <div class="carousel__indicators">
                <label class="carousel__indicator" for="K"></label>
                <label class="carousel__indicator" for="L"></label>
                <label class="carousel__indicator" for="M"></label>
            </div>
        </ul>
    </div>
    <div class="detailed">
        <h2>Product Name</h2>
        <h2>Price</h2>
        <div class="info">
            <div>
                <p>Quantity : <span></span></p>
                <p>Color : <span></span> </p>
            </div>
            <div>
                <p>Category : <span></span></p>
                <p>Waste sorting : <span></span></p>
            </div>
        </div>
        <button class="add-to-cart">
            Add to cart <img src="../../FrontEnd/static/images/shopping_cart.png" alt="">
        </button>
        <div class="description-detailed">
            <h2>Description : </h2>
            <hr>
            <p>Procedente igitur mox tempore cum adventicium nihil inveniretur, relicta ora maritima in Lycaoniam
                adnexam Isauriae se contulerunt ibique densis intersaepientes itinera praetenturis provincialium et
                viatorum opibus pascebantur.Procedente igitur mox tempore cum adventicium nihil inveniretur, relicta ora
                maritima in Lycaoniam adnexam Isauriae se contulerunt ibique densis intersaepientes itinera praetenturis
                provincialium et viatorum opibus pascebantur.</p>
        </div>
    </div>
</div>
</body>
</html>