<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../frontend/static/index.css">

</head>
<body>
<div class="register">
    <div class="notification is-danger">
        {{ messages[0] }}. Go to <a href="{{ url_for('login') }}">login page</a>.
    </div>
    <form method="POST" action="/register">
        <label>
            <input class="" type="text" name="name" placeholder="Name" required>
        </label>
        <label>
            <input class="" type="text" name="lastname" placeholder="Last name" required>
        </label>
        <label>
            <input class="" type="email" name="email" placeholder="Email" required>
        </label>
        <label>
            <input class="" type="tel" name="tel" placeholder="Phone number" required>
        </label>
        <fieldset>
            <legend>Select profile:</legend>
            <input class="" type="radio" name="profile" value="company" id="company" checked>
            <label for="company">Company</label>
            <input class="" type="radio" name="profile" value="personal" id="personal">
            <label for="personal">Personal</label>
        </fieldset>
        <label>
            <input class="" type="password" name="password" placeholder="Password" required>
        </label>
        <button type="submit">Register</button>
    </form>
</div>
</body>
</html>