<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
<div class="right-panel">
    <h1>Recommandations</h1>
    <hr>
    <div class="recommandation">
        <div class="left-reco">
            <a href="">
                <div id="first">
                    <div class="description">
                        <h3>Nom produits</h3>
                        <p>Prix</p>
                    </div>
                    <img src="../../FrontEnd/static/images/Shopping-PNG-Photos.png" alt="">
                </div>
            </a>
            <a href="">
                <div id="second">
                    <div class="description">
                        <h3>Nom produits</h3>
                        <p>Prix</p>
                    </div>
                    <img src="../../FrontEnd/static/images/Shopping-PNG-Photos.png" alt="">
                </div>
            </a>
        </div>
        <div class="right-reco">
            <a href="">
                <div id="third">
                    <div class="description">
                        <h3>Nom produits</h3>
                        <p>Prix</p>
                    </div>
                    <img src="../../FrontEnd/static/images/Shopping-PNG-Photos.png" alt="">
                </div>
            </a>
            <a href="">
                <div id="fourth">
                    <div class="description">
                        <h3>Nom produits</h3>
                        <p>Prix</p>
                    </div>
                    <img src="../../FrontEnd/static/images/Shopping-PNG-Photos.png" alt="">
                </div>
            </a>
        </div>
    </div>
    <h1>All products</h1>
    <hr>
    <div class="all-products">
        <a href="">
            <div class="product">
                <img src="../../FrontEnd/static/images/Shopping-PNG-Photos.png" alt="">
                <div class="description">
                    <h3>Nom produits</h3>
                    <p>Prix</p>
                </div>
            </div>
        </a>
</div>
    </div>
</body>
</html>