<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TRASHTALK - Your no 1 site for french trashcans.</title>

    <link rel="icon" type="image/x-icon" href="/static/images/Logo-bin.ico">
    <link rel="stylesheet" href="/static/index.css">
    <script src="https://kit.fontawesome.com/74fed0e2b5.js" crossorigin="anonymous"></script>
    <script src="/static/cart.js"></script>
</head>
<body>
    <header>
        <form class="search-box" action="/search">
            <button class="btn-search"><img src="/static/images/search.png" alt=""></button>
            <input type="text" name="product" class="input-search" placeholder="Search...">
        </form>
        <div class="right-header">
            <a href="/cart" class="shopping-cart">
                <button>
                    Cart
                    <img src="/static/images/shopping_cart.png" alt="">
                    <span id="cart-length"></span>
                </button>
            </a>
            <div class="profil">
                <button>
                    <img src="/static/images/account.png" alt="">
                    <span>Account</span>
                </button>
            </div>
        </div>
    </header>
    <div class="menu">
        <a href="/" class="menu-logo">
            <img src="/static/images/Logo.png" alt="Logo">
            <h3>TrashTalk</h3>
        </a>
        <div class="menu-links">
            <button class="menu-links-button"> <img src="/static/images/home.png" alt=""> Explore New</button>
            <button class="menu-links-button"> <img src="/static/images/list.png" alt=""> Category</button>
        </div>
        <div class="quick-action">
            <h5>Quick Action</h5>
            <a href="/marketplace">
                <button class="menu-links-button"> <img src="/static/images/add.png" alt=""> Add Product</button>
            </a>
        </div>
        <div class="last-order">
            <h5>Historic</h5>
        </div>
        <a href="/logout" class="menu-connexion">
            <button class="menu-connexion-button">Log Out <img src="/static/images/logout.png" alt=""></button>
        </a>
    </div>
<!--Add products blocks here-->
{% block content %}
{% endblock %}
</body>
</html>