{% extends 'base.jinja' %}

{% block content %}

<link rel="stylesheet" href="/static/cart.css">

<div class="shopping">
<h2>My Shopping List</h2>

    <div class="buy-phase"></div>

    <div class="facturation-address">
        <input type="text" placeholder="Enter your adress...">
<!--        A changer avec le code du sélecteur d'adresse-->
    </div>
    <footer>
        <a href="https://www.paypal.com/signin?returnUri=https%3A%2F%2Fwww.paypal.com%2Fmyaccount%2Fsummary&state="><img src="../static/images/paypal.png" alt=""></a>
        <a href=""><img src="../static/images/paysafecard.png" alt=""></a>
        <a href=""><img src="../static/images/visa.png" alt=""></a>
        <a href=""><img src="../static/images/mastercard.png" alt=""></a>
    </footer>
</div>
<script type="text/javascript" src="/static/index.js"></script>

{% endblock %}
