{% extends 'base.jinja' %}

{% block content %}

    <div class="right-panel">
        <h1>Recommandations</h1>
        <div class="recommandation">
            <div class="left-reco">
                <a href="{{ recommendations[0].id }}">
                    <div id="first">
                        <div class="description">
                            <h3>{{ recommendations[0].name }}</h3>
                            <p>{{ recommendations[0].price }} €</p>
                        </div>
                        {% if recommendations[0].image == None %}
                            <img src="/static/images/no-image-available.jpg" alt="{{ recommendations[0].name }} first image">
                        {% else %}
                            <img src="{{ recommendations[0].image }}" alt="{{ recommendations[0].name }} first image">
                        {% endif %}
                    </div>
                </a>
                <a href="{{ recommendations[1].id }}">
                    <div id="second">
                        <div class="description">
                            <h3>{{ recommendations[1].name }}</h3>
                            <p>{{ recommendations[1].price }} €</p>
                        </div>
                        {% if recommendations[1].image == None %}
                            <img src="/static/images/no-image-available.jpg" alt="{{ recommendations[1].name }} first image">
                        {% else %}
                            <img src="{{ recommendations[1].image }}" alt="{{ recommendations[1].name }} first image">
                        {% endif %}
                    </div>
                </a>
            </div>
            <div class="right-reco">
                <a href="{{ recommendations[2].id }}">
                    <div id="third">
                        <div class="description">
                            <h3>{{ recommendations[2].name }}</h3>
                            <p>{{ recommendations[2].price }} €</p>
                        </div>
                        {% if recommendations[2].image == None %}
                            <img src="/static/images/no-image-available.jpg" alt="{{ recommendations[2].name }} first image">
                        {% else %}
                            <img src="{{ recommendations[2].image }}" alt="{{ recommendations[2].name }} first image">
                        {% endif %}
                    </div>
                </a>
                <a href="{{ recommendations[3].id }}">
                    <div id="fourth">
                        <div class="description">
                            <h3>{{ recommendations[3].name }}</h3>
                            <p>{{ recommendations[3].price }} €</p>
                        </div>
                        {% if recommendations[3].image == None %}
                            <img src="/static/images/no-image-available.jpg" alt="{{ recommendations[3].name }} first image">
                        {% else %}
                            <img src="{{ recommendations[3].image }}" alt="{{ recommendations[3].name }} first image">
                        {% endif %}
                    </div>
                </a>
            </div>
        </div>
        <h1>All products</h1>
        <hr>
        <div class="all-products">
            {% for product in products %}
                <a href="/{{ product.id }}">
                    <div class="product">
                        {% if recommendations %}
                            {% if recommendations[0].image == None %}
                                <img src="/static/images/no-image-available.jpg" alt="{{ recommendations[0].name }} first image">
                            {% else %}
                                <img src="{{ product.image }}" alt="{{ product.name }} first image">
                            {% endif %}
                        {% endif %}
                        <div class="description">
                            <h3>{{ product.name }}</h3>
                            <p>{{ product.price }} €</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}