{% extends 'base.jinja' %}

{% block content %}
<!--product block for each product-->
    {% for product in products %}
        <div>
            this is a product {{product.name}}
            {{product.type}}
            {{product.size}}
            {{product.price}}
            {{product.description}}
        </div>
    {% endfor %}

{% endblock %}