{% extends 'base.jinja' %}

{% block content %}
    <h1>Product  no {{ product.id }}</h1>
    <h1>This is a product {{product.name}}</h1>
    <p>{{product.type}}</p>
    <p>{{product.size}}</p>
{% endblock %}